HOST=0.0.0.0
PORT=1337
APP_KEYS=toBeModified1,toBeModified2,toBeModified3,toBeModified4
API_TOKEN_SALT=toBeModified
ADMIN_JWT_SECRET=toBeModified
TRANSFER_TOKEN_SALT=toBeModified
ENCRYPTION_KEY=toBeModified

DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@example.com

CLIENT_URL=http://localhost:4321
PREVIEW_SECRET=change-me-in-production
